<head>
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet"> 


<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	
<div class="jumbotron" id="landingpage">
  	<div class="jumboelements">	
  		<h1 class="display-3" id="jumbotext">Welcome to HomeCook'd
  		<p class="lead" id="motto">Your Home - A Meal Away</p>
  		<input class="" type="text" id="search_homes">
  	</div>
  </h1>
  </p>
</div>
</body>