<div id="boxymoxy" class="container-fluid">
  <div id="what" class="row">
  	<div>Oh! Is this where the header will go?
		<h1>Home Made Meals Near You!</h1>
		</div></div>
		<% if @rooms %>
			<% @rooms.each do |room|%>
			    <div id="pexel" class="col-md-2"><%= image_tag room.photos.first.image %>
			    </div>
			    <div class="col-md-5"><%= room.summary%></div>
			    <div class="col-md-5">Box 3</div>
			   	<div class="row">white space? </div>
			<% end %>
		<% end %>
	     
	</div>	 
  </div>
</div>

