<% if @photos %>

	<div class="row">
		<% @photos.each do |photo| %>
			<div class="clo-md-4">
				<div class="panel panel-default">
					<div class="panel-heading preview">
						<div class="panel-body">
							<span class="pull-right">
								<i class="fa fa-times fa-lg">
									
								</i>
							</span>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>

	<% end %>