// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#landingpage{
	background: transparent;
	margin-bottom: 0px;
	margin-top: 15%;
	max-width: 100%;
	height: auto;
	color: white;
	font-style: bold;
	font-family: 'Cormorant+Garamond', sans-serif;
	text-shadow: black 0.3em 0.3em 0.3em;
	display: flex;
  	justify-content: center;
  	text-align: center;

}

.jumbotron {
	min-height: 350px;
	text-shadow: black 0.2em 0.2em 0.2em;
}



.ziptext {
	text-align: center;
}


@media screen and (max-width: 1201px){
	#search_homes {
		font-size: 15px;
		color: black;
		/*min-width: 300px; */
		width: 400px;
	}
	
}

@media screen and (min-width: 1200px) {
	#search_homes {
		width: 800px;
		font-size:15px;
		color:black;
	}
}
