// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#thumbnailresi img {
	max-width: 250px;
	max-height: 250px;	
}


#tripsimg img {
		max-width: 250px;
	max-height: 250px;	
}