// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@media screen and (max-width: 1201px){
    #createhome {
        margin-top: 15%;
        position: relative;
}
    #roomshow{
        margin-top: 15%
    }
    #pexel img{
        max-height: 300px;
    }
    #pexel {
        margin-top: 4%;
    }
    #roomindeximg img{
        max-height: 275px;
        max-width: auto;
    }

    #listtitle {
        text-align: center;
    }
    #roomsindexdivider {
    width: 449px;
}

    #roomsdestroy {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

@media screen and (min-width: 1200px) {
    #createhome {
        margin-top: 10%;
    }

    #roomshow {
        margin-top:  5%;
    }
    #pexel img{
        max-height: 82px;
    }

    #pexel {
        margin-top: .6%;
    }
    #roomindeximg img{
        max-height: 82px;
        max-width: auto;
    }
    #listtitle {
        text-align: center;
    }

    #roomsindexdivider {
    width: 700px;
} 

}

#myCarousel1 {
    z-index: 10;
}

#boxymoxy {
    margin-top: 10%;
    outline: 1px solid black;   
}


#pexel img{
 width: 100%;
 height: 100%;
 display: block;
 outline: 1px solid black;
 margin: auto;
}

#what {
    margin-top: 0%;
}

.potato {

}

.divide {
   /*     outline: 1px solid black;*/
        color: orange;

}

@media screen {
    
}

#headermeal {
    text-align: center;
}

#headerspacer {
    margin-top: 0%;
}

#roomindexrow {
    margin-top: 0%;
}